<!DOCTYPE html>
<html>
<head>
    <title>AI Face Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h2>AI Face Attendance</h2>
    <div class="subtitle">
        Secure & Contactless Attendance System
    </div>

    <a href="/register" class="btn">Register New User</a>
    <a href="/attendance/in" class="btn secondary">Punch In</a>
    <a href="/attendance/out" class="btn out">Punch Out</a>

    <div class="footer">
        Powered by AI · Face Authentication · Liveness Detection
    </div>
</div>

</body>
</html>
